@model MvcMusicStore.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<br/>
<div class="alert alert-info"><em>Review</em> your cart:</div>

<div id="update-message">
</div>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @if (Model.CartItems.Count > 0)
        {
            <p class="btn btn-default">
                @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
            </p>
        }
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Album Name</th>
                <th>Price (each)</th>
                <th>Quantity</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordId">
                    <td>
                        @Html.ActionLink(item.Album.Title, "Details", "Store", new {id = item.AlbumId}, null)
                    </td>
                    <td>
                        @item.Album.Price
                    </td>
                    <td id="item-count-@item.RecordId">
                        @item.Count
                    </td>
                    <td>
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove from cart</a>
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total
                </td>
                <td>
                    @Model.CartTotal
                </td>
                <td>
                </td>
                <td>
                   
                </td>
            </tr>
        </tbody>
    </table>
</div>